<!DOCTYPE html>
<html>
<head>
	<title>E-Farming</title>

</head>
<body style="background-color:#B38CB6;">
	<fieldset style="height:90px;width:" >
		<h1>E-Farming</h1>
		
		<h3 style="text-align:right; ">Welcome to E-Farming</h3>
	</fieldset><br><br>
	
	<fieldset style="background-color:#D60A1C;height:50px;width:23% ">
		
         <button type="button">HOME</button>
		 <button type="button">News</button>
		 <button type="button" >Contact Us</button>
		 
		 <button>
		 <a href="reg.php">Registration</a></button> 
		 <button>
		 <a href="login.php">Login</a> </button> 
		 
		
	</fieldset>
                        


</body>
</html>